spextral:
  config:
    enabled: true
    haltonerror: true
    logerrors: true
    loginfo: true
    encoding: utf-8
    keysize: 32  # 8 - 128 characters
  redis:
    host: <hostname>
    port: <portname>
    db: 0
